/**
 * 2024-10-31 GeoLocation code originally migrated from PhotoForm Webpart sample
 *    Happy Halloween 2024! / 2024-11-04
 */

.gps-form {
  max-width: 600px; /* Slightly increased max width for better layout */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  color: #333;
}

.action-button, .submit-button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
  transition: background-color 0.3s;
}

.action-button:hover, .submit-button:hover {
  background-color: #45a049;
}

.form {
  display: grid; /* Change to grid layout */
  grid-template-columns: repeat(1, 1fr); /* Default to 1 column */
  gap: 1em; /* Set gap between fields */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0em 1em 0px 0px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-field:read-only {
  background-color: #e9ecef; /* Light gray */
}

/* Responsive layout for wider screens */
@media (min-width: 700px) {
  .form {
    grid-template-columns: 100px 100px 1fr;
  }

  .form.fps-altitude {
    grid-template-columns: 100px 100px 100px 1fr;
  }

}
