
.scatter-fade-panel {
  margin: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scatter-fade-panel .fade-bright {
  color: #d9d53d;
}

.scatter-fade-panel .main-Image {
  margin-top: 1.5em;
  width: 60%;
  object-fit: contain;
  transition: width 0.3s ease; /* Smooth transition */
}

.scatter-fade-panel .main-Image:hover {
  width: 80%; /* Increase to 80% width on hover */
}

.scatter-fade-panel-title {
  font-size: xxx-large;
  text-align: center;
  margin-bottom: .5em;
}

.scatter-fade-details {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  text-align: left;
  margin-bottom: 1em;
}

.scatter-fade-panel-coords {
  display: flex;
  font-size: x-large;
  gap: 2em;
  margin-bottom: 1em;
}

.history-header {
  display: flex;
   gap: 2em;
   align-items: center;
}

.history-icon {
  display: flex;
  align-items: center;
}
.history-icon i {
  padding: .5em;
  margin: .5em .5em .5em 0em;
  font-size: x-large;
  font-weight: 600;
}

.favButton {
  transition: all 0.5s ease;
  font-size: large;
  padding: .5em 1em;
  /* margin-left: 1em; */
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
  opacity: .6;
  border-radius: .5em;
  margin: .5em 0em;
}

.favButton i {
  margin-left: .5em;
}

.favButton:hover {
  background: rgb(122, 255, 122);
  border-color: #373737; /* Darker border color */
  opacity: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Shadow effect on hover */
}